body{
    margin: 0;
    padding: 0;
    font-family: 'Acme', sans-serif;
    font-family: 'Kanit', sans-serif;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.menubar    {
    height: 60px;
    width: 100%;
    background: rgb(6, 119, 134);
    box-shadow: 0 0 10px #44c2f8;
}

.menubar .logo {
    float: left;
}

.menubar h1 {
    margin: 0;
    font-size: 24px;
    font-weight: normal;
    padding: 10px;
    text-shadow: 0.1em 0.1em rgb(3, 89, 104);

}

.menubar ul.menu{
    list-style: none;
    float: right;
}
.menubar ul.menu li {
    float: left;
    margin-right: 20px;
    list-style: none;
}
.menubar ul.menu li a {
    text-decoration: none;
    color: #333;
    border-bottom: 2px solid transparent;
    padding-bottom: 20px;
    transition: all 0.3s ease;
    text-shadow: 0.1em 0.1em rgb(3, 89, 104);
}
.menubar ul.menu li a:hover {
    border-bottom: 2px solid #333;
    padding-bottom: 0px;
}

.header {
    width: 100%;
    background: url(../img/bg.gif) no-repeat;
    height: 375px;
    background-size: cover;
    background-position: center;
}
.header_area {
    padding-top: 75px;
    width: 660px;
    margin: 0 auto;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 0.1em 0.1em rgb(0, 0, 0);
}
.header_area h1 {
    font-size: 60px;
    font-weight: normal;
    margin: 0.25px auto;
}
.info1